.case-home {
  padding-top: 2em;
}
.case-home__welcome {
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
}
.case-home__puzzles {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin: 2em 0 5em;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .case-home__puzzles {
    gap: 2em;
  }
}
